<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>queryResult</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="/static/css/reset.css" rel="stylesheet">
    <!-- Bootstrap3.3.5 CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/queryResult.css" rel="stylesheet">
  </head>
  <body>
  <div class="container">
      <div class="queryResult">
          <h2>Digital Certification Query Result</h2>
          {{if .History}}
          {{end}}
          <div class="top">
             <div class="left">
                <p>
                    <span>AssetName：</span>
                    <span>{{.Cert.AssetName}}</span>
                </p>
                <p>
                    <span>OwnerID：</span>
                    <span>{{.Cert.OwnerID}}</span>
                </p>
                <p>
                    <span>State：</span>
                    <span>{{.Cert.State}}</span>
                </p>
                <p>
                    <span>Version：</span>
                    <span>{{.Cert.Version}}</span>
                </p>
                <p>
                    <span>CertNo：</span>
                    <span>{{.Cert.CertNo}}</span>
                </p>
                <p>
                    <span>Ciphertext：</span>
                    <span>{{.Cert.Ciphertext}}</span>
                </p>
                <p>
                    <span>Note：</span>
                    <span>{{.Cert.Note}}</span>
                </p>
            </div>
          </div>
          <p>
              {{if eq .CurrentUser.IsAdmin "T"}}
                  <a href="/modifyPage?certNo={{.Cert.CertNo}}&assetName={{.Cert.AssetName}}">Modify Info of this Certification</a>
              {{end}}
              <a href="/index">Return to Index</a>
          </p>
          <div class="bottom">
              <p><b></b></p>
              <p></p>
              <p>
              </p>
          </div>
      </div>
  </div>
  </body>
</html>
